*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 800;
}
/*menus + logo + icon*/
header{ 
    display:flex;
    background-color: var(--bg_header);
    gap: 50px;
    width: 100%;
    position: fixed;

}
/*logo */
.logo{
    display : inline;
    padding : 15 px;
    margin : 10px;
}

/*menus */
.menus{
    display:inline;
    margin:0px;
}
.menus>a{
    display:inline-block;
    width: 90px;
    max-height: 90px;   
    line-height: 80px;
    text-decoration: none;
    margin:15px;
    font-size: 18px;
    color: var(--text_header);
    gap: 50px;
}
.menus a:hover{
    color: var(--color_hover);
}
.icon-bars{
    display: none;
}
/*search */
.search {
    width: 100%;
    position: relative;
    display: inline-flex;
}

.searchTerm {
    width: 100%;
    border: 1px solid var(--text_header);
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: var(--text_header);
}

.search-item{
    width: 2.5rem;
    height: auto;
    background: var(--text_header);
    text-align: center;
    color: var(--text-wh);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 18px;
    padding-top: 3px; 
}

.wrap{
    display:inline;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%);
}
/* icon */
.menus-icon{
    display:inline;
}
.icon-item{
    left:80%;
    position:absolute;

} 
.icon-item a>.fa{
    line-height: 5  ;
    font-size: 1.4rem;
    color:var(--text_header); 
    margin-left: 2rem;
}

header .icon-item a:hover .fa{
    color: var(--color_hover);
}
footer{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin:10px;
    background-color: var(--bg_header);
    flex-wrap: wrap;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
}
.footer .footer__wrapper .noi-dung.about{
    width: 40%;
}
.noi-dung.about>h2{
    position: relative;
    font-size: 25px;
    color: var(--text);
    margin-bottom: 15px;
}
.noi-dung.about>h2:before{
    position: relative;
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.noi-dung.about p{
    color: var(--text);
}
/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
.social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 20px;
}
.social-icon li a:hover{
    background: var(--color_hover);
}
.social-icon li a .fa{
    color: #fff;
    font-size: 18px;
}
/*Thiết Lập Đường dẫn link*/
.noi-dung-links h2{
    position: relative;
    color: var(--text);
    font-size: 25px;
    margin-bottom: 15px;
}
.noi-dung-links h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.noi-dung-links ul li{
    list-style: none
}
.noi-dung-links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.noi-dung-links ul li a:hover{
    color: var(--color_hover);
}
/*Thiết Lập Thông Tin Liên Hệ*/
.noi-dung-contact h2{
    position: relative;
    color: var(--text);
    margin-bottom: 15px;
}
.noi-dung-contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.contact .info{
    position: relative;
}
.noi-dung-contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.noi-dung-contact .info li span:nth-child(1) {
    color: var(--text);
    font-size: 20px;
    margin-right: 10px;
}
.noi-dung-contact .info li span{
    color:var(--text);
}
.noi-dung-contact .info li a{
    color: var(--text);
    text-decoration: none;
}
/* Thiết Lập Phần Email Subscribe */
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top:16px;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    background: #222;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
}
.btn--primary:hover {
    background: #f00;
}
.btn--primary:active {
    background: #f00;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}
/* Responsive Cho Footer */
@media  (max-width: 768px){
    footer{
        padding: 40px;
            }
    footer .container{
        flex-direction: column;
    }
    footer .container .noi-dung{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container, .noi-dung.about, .links, .contact{
        width: 100%;
    }
}
/* Responsive Cho Header menus logo */
@media  (max-width: 768px){
    #nav-menus {
    flex-direction: column;
    text-align: center;
}
.icon-bars{
    display: block;
}
div>.menus {
    display: none;
}
}