*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
  }
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./img/th\ \(4\).jpg);
    background-size: cover ;
}  

.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2 {
    font-size: 40px;
    font-weight: 500px;
    color: rgb(11, 11, 11);
}
.contact .content p {
    font-weight: 350px;
    color: #121111;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    gap: 20px;
}
.container .contact-info .box .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.container .contact-info .box .text {
display: flex;
margin-left: 20px;
font-size: 16px;
color: rgb(19, 19, 19);
flex-direction: column;
font-weight: 300;
}
.container .contact-info .box .text h3 {
    font-weight: 500;
    color: #121111;
}
.contact-form {
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 20px;

}
.contact-form h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom:2px solid rgb(9, 6, 6) ;
    outline: none;
    resize: none;
}
.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 0px 10px;
    pointer-events: none;
    transition: 0.5s;

}
.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span {
    color: rgb(249, 13, 13);
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]{
    width: 100px;
    background-color: #121111;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}


@media screen and (max-width: 768px) {
    .content {
        text-align: center;
    }
    .contact {
        padding: 75px;
    }
    .container {
        flex-direction: column;

    }
    .contact-form {
        align-items: center;
        width: 100%;
    }
    .container .contact-info {
       
        width: 100%;
        margin-bottom: 40px;
    }
}